html{
  font-size: 62.5%;
}

p{
  font-size: 1.8rem;
}

h1{
  font-size: 6.7rem;
  margin-left: 138px;
}

h5{
  font-size: 1.6rem;
}

button{
  font-size: 1.6rem;
}

body{
  background: transparent linear-gradient(180deg, #FFCC0026 0%, #FFFFFF1A 100%) 0% 0% repeat padding-box;
}

nav{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-left: 16%;
}

#navbar{
  display: flex;
  margin-top: 80px;
  margin-left: 138px;
}

#navbar h2{
  margin-top: 20px;
  font: Regular 30px/480px Circular Std Medium;
  font-size: 3rem;
}

.burger{
  color: #FFCC00;
  
  
}

nav a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.514);
  margin-top: 20px;
  font-size: 1.6rem;
}

#target{
  color: black;
  font-weight: 600;
}

#download{
  background: #FFCC00 0% 0% no-repeat padding-box;
  color: black;
  border-radius: 60px;
  box-shadow: 0px 6px 25px #FFCC0040;
  height: 40px;
  width: 200px;
  text-align: center;
  margin-top: 30px;
background: #FFCC00 0% 0% no-repeat padding-box;
box-shadow: 0px 6px 25px #FFCC0040;
border-radius: 60px;
opacity: 1;
display: flex;
align-items: center;
justify-content: center;
}

nav a:not(:last-child){
  margin-top: 30px;
}

header p{
  margin-left: 138px;
  font: Medium 18px/40px Barlow;
}

button{
  background: #FFCC00 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 60px;
  width: 185px;
  height: 60px;
}

header button{
  margin-left: 138px;
}

header .hero{
  display: flex;
}

#hero-div{
  margin-left: 500px;
}
#miniMenu{
  display: flex;
}

header .menuCard{
  background-color: white;
  box-shadow: 0px 10px 45px #0000001A;
  width: 15%;
  border: 1px black solid;
  margin: 3%;
  display: flex;
  text-align: center;
}

header .menuCard p{
  align-self: center;
}

header .menuCard img{
  width: 90px;
}

header .menuCard .one img{
  width: 70px;
}

header .menuCard .two img{
  width: 70px;
}